@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic");

.gallery {
	margin: 10 px 50 px;
}

.gallery img {
	transition: 1s;
	padding 15 px;
	width: 200 px;
}